#about_sec{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#about_sub_topic{
    border-bottom: 1px solid aqua;
}



@media only screen and (max-width: 991.5px){
    #about_sec{
        padding-top: 2vh;
    }
}